/* US Flag Colors */
/* Red: HEX #BF0A30, RBG 191, 10, 48 */
/* White: HEX #ddd5de, RBG 221,213,222 */
/* Blue: HEX #033250, RBG 3,50,80 */

* {
  margin: 0;
  padding: 0;
}

/* Navigation */

header nav {
 background: #033250;
}

header nav ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

header nav ul li a{
  color: #ddd5de;
  text-decoration: none;
}
