main section {
  border: 3px solid green;
  text-align: center;
  display: flex;
  justify-content: space-around;
}

main section .left{
  border: 3px solid skyblue;
}

main section .right{
  border: 3px solid orange;
  padding: 0 5%;
}
